body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #fff;
  border-bottom: 4px solid #175060;
}

.logo-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  padding-top: 0PX;
}

.logo {
  height: 60px;
}

.social img {
  width: 24px;
  margin-left: 15px;
}

nav.menu {
  background-color: #175060;
}

nav.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav.menu li {
  padding: 1rem 1.5rem;
  color: #fff;
  cursor: pointer;
}

nav.menu .active {
  background-color: #175060;
}

.articles {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 300px;
}

.card img {
  width: 100%;
  height: auto;
}

.card .content {
  padding: 1rem;
  text-align: center;
}

.card .category {
  color: #175060;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card h2 {
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
}

.card button {
  background-color: #175060;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.Titulo{
    font-family: 'Fredoka One', cursive;
    color: #175060;
    font-size: 30PX;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: #175060;
  font-size: 40PX;
}

.primer{
 
display: contents;    

}




